# Authentication
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=p5N1V9xZ8sL3K4JqR2bH6vY7T8cD9mW2a1e0f
BETTER_AUTH_URL=  #use the vercel live link or any other live link of this deployed website


# Database
DB_URI="mongodb+srv://digital-life-lessons:pHC7FCSegdPfVGoZ@cluster0.zl14qgw.mongodb.net/?appName=Cluster0";
DB_USER=digital-life-lessons
DB_PASS=pHC7FCSegdPfVGoZ



# Stripe
STRIPE_SECRET_KEY=